.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--wrapper);
  margin: 0 auto;
  flex: 1;
}
.left {
  width: 35%;
  height: 100%;
  padding: 15px 7.5px 15px 15px;
}
.welcome {
  color: var(--coal);
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}
.right {
  width: 65%;
  height: 100%;
  padding: 15px 15px 15px 7.5px;
  overflow: auto;
}