- var title = htmlWebpackPlugin.options.title
- var reactRoot = htmlWebpackPlugin.options.reactRoot
- var author = htmlWebpackPlugin.options.author

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content=title)
    meta(name='author', content=author)
    link(rel='stylesheet', href='https://use.typekit.net/rgn0vue.css')
    title #{title}
  body
    div(id=reactRoot)
