.container {
  background-color: var(--iron);
  padding: 15px;
}
.container h1 {
  font-size: 3em;
  font-weight: 800;
  display: block;
  text-align: center;
  color: var(--coal);
  margin-bottom: 15px;
}
.container button {
  border: transparent;
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 5px;
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid var(--pea);
  text-transform: uppercase;
  color: var(--coal);
  background-color: var(--green);
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.container button:focus {
  outline: 0;
}
.container button:hover {
  box-shadow: var(--glow);
}