.container {
  width: 100%;
  background-color: ;
}
.month {
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 15px;
}
.month span {
  font-weight: 400;
}
.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.monthBtn {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid var(--coal);
  position: relative;
  cursor: pointer;
}
.monthBtn:hover{
  background-color: var(--green);
}
.monthBtn span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
.active {
  border-width: 3px;
  background-color: var(--green);
}