.-Header-container-qQ2mF7- {
  background-color: var(--iron);
}
.-Header-wrapper-3AwTGb- {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
}
.-Header-logo-2jKwzD- {
  width: 200px;
  height: auto;
}
.-Header-nav-3pohg4- {
  margin-left: auto;
}.-Navigation-container-1QYlzS- {
  margin-left: auto;
}
.-Navigation-container-1QYlzS- li {
  display: inline-block;
  margin-left: 20px;
}
.-Navigation-link-Ntl35P- {
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--blue);
  cursor: pointer;
  padding: 5px 8px;
  position: relative;
  display: inline-block;
  margin-left: 15px;
}
.-Navigation-link-Ntl35P-::before {
  content: "";
  position: absolute;
  width: calc(100% - 16px);
  max-width: 0;
  height: 2px;
  left: 8px;
  bottom: 0;
  background-color: var(--blue);
  transition: all 0.3s;
}
.-Navigation-link-Ntl35P-:hover::before,
.-Navigation-active-3hAr4X-::before {
  max-width: 100%;
}
.-Navigation-signoutbtn-o57Sct- {
  background-color: var(--green);
  border: 2px solid var(--pea);
  color: var(--coal);
  font-size: 1.5em;
  font-weight: 800;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  text-transform: uppercase;
  transition: box-shadow 0.2s;
  cursor: pointer;
}
.-Navigation-signoutbtn-o57Sct-:hover {
  box-shadow: var(--glow);
}
.-common-label-2CgBuX- {
  display: block;
  font-weight: 800;
  font-size: 2em;
  padding: 0;
  margin-bottom: 5px;
}
.-common-input-3R9VUp- {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 2em;
  margin-bottom: 10px;
  border: 3px solid #fff;
}
.-common-input-3R9VUp-:focus {
  outline: none;
  border-color: var(--blue);
}
.-LandingPage-container-3C7fLA- {
  display: block;
  width: 100%;
  max-width: var(--wrapper);
  padding: 15px;
  margin: auto;
}
.-LandingPage-landingImg-1B6gB4- {
  max-width: 100%;
  margin-bottom: 25px;
}
.-LandingPage-snippet-xTxXil- {
  font-size: 2.5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2em;
  color: var(--coal);
}
.-LandingPage-signup-2kR01p- {
  padding: 15px;
  text-decoration: none;
  font-size: 2.5em;
  border-radius: 12px;
  width: 200px;
  cursor: pointer;
  color: var(--coal);
  background-color: var(--green);
  border: 3px solid var(--pea);
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  text-align: center;
  position: relative;
  margin: 15px auto 0 auto;
  transition: all 0.2s;
}
.-LandingPage-signup-2kR01p-:hover{
  box-shadow: var(--glow);
}.-SignUp-container-1uHW05- {
  display: block;
  width: 100%;
  max-width: calc(var(--wrapper) / 2);
  padding: 15px;
  margin: auto;
  background: var(--iron);
}
.-SignUp-container-1uHW05- h1 {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  padding: 0 15px 5px 15px;
  color: var(--coal);
}
.-SignUp-container-1uHW05- p {
  display: block;
  text-align: center;
  padding: 0;
  font-size: 2em;
  margin-bottom: 15px;
}
.-SignUp-container-1uHW05- p.-SignUp-error-1LxJFX- {
  display: block;
  text-align: left;
  font-size: 1.5em;
  color: #f00;
  font-weight: 800;
}
.-SignUp-actions-OJuSW1- {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.-SignUp-signin-2HKhYL- {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--blue);
  padding: 5px 0;
  margin-left: auto;
}
.-SignUp-signin-2HKhYL-:hover {
  text-decoration: underline;
}
.-SignUp-signup-5ne7WC- {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 2em;
  border-radius: 7px;
  cursor: pointer;
  color: var(--coal);
  background-color: var(--green);
  border: 3px solid var(--pea);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 0 0 15px;
  transition: all 0.2s;
}
.-SignUp-signup-5ne7WC-:hover{
  box-shadow: var(--glow);
}
.-SignUp-signup-5ne7WC-:focus{
  outline: none;
}
.-BudgetMonthSelector-container-sUhTdl- {
  width: 100%;
  background-color: ;
}
.-BudgetMonthSelector-topbar-rxb0-T- {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.-BudgetMonthSelector-month-2YWfO2- {
  font-weight: 800;
  font-size: 2em;
  display: inline-block;
}
.-BudgetMonthSelector-month-2YWfO2- span {
  font-weight: 400;
  padding-left: 5px;
}
.-BudgetMonthSelector-select-3ZlgFJ- {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.-BudgetMonthSelector-monthBtn-2w9eSU- {
  width: 50px;
  height: 50px;
  padding: 0;
  display: inline-block;
  border: 1px solid var(--coal);
  position: relative;
  cursor: pointer;
}
.-BudgetMonthSelector-monthBtn-2w9eSU-:focus {
  outline: none;
}
.-BudgetMonthSelector-monthBtn-2w9eSU-:hover {
  background-color: var(--green);
}
.-BudgetMonthSelector-monthBtn-2w9eSU- span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
.-BudgetMonthSelector-active-3XFzs6- {
  border-width: 3px;
  background-color: var(--green);
}
.-BudgetMonthSelector-yearBtnGroup-2raFij- {
  display: inline-block;
  margin-left: auto;
}
.-BudgetMonthSelector-yearBtnGroup-2raFij- li{
  display: inline-block;
}
.-BudgetMonthSelector-yearBtnGroup-2raFij- li.-BudgetMonthSelector-tag-2mvwVU- {
  font-size: 2em;
  font-weight: 800;
  color: var(--coal);
  text-transform: uppercase;
  text-decoration: underline;
}
.-BudgetMonthSelector-yearBtnGroup-2raFij- li button{
  font-weight: 400;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--blue);
}
.-BudgetMonthSelector-yearBtnGroup-2raFij- li button:hover {
  text-decoration: underline;
}
.-BudgetMonthSelector-yearBtnGroup-2raFij- li button:focus {
  outline: none;
}.-MyBudget-container-25emxy- {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: var(--wrapper);
  margin: 0 auto;
}
.-MyBudget-left-2GYvGp- {
  width: 35%;
  height: 100%;
  padding: 15px 7.5px 15px 15px;
}
.-MyBudget-welcome-1cyBHx- {
  color: var(--coal);
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}
.-MyBudget-right-3wzxVK- {
  width: 65%;
  height: 100%;
  padding: 15px 15px 15px 7.5px;
}.-SignIn-container-1cU965-{
  display: block;
  width: 100%;
  max-width: calc(var(--wrapper) / 2);
  padding: 15px;
  margin: auto;
  background: var(--iron);
}
.-SignIn-container-1cU965- h1{
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  padding: 0 15px 5px 15px;
  color: var(--coal);  
}

.-SignIn-actions-1z2AbM- {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.-SignIn-forgotpswd-2XXTxx- {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--blue);
  padding: 5px 0;
  margin-left: auto;
}
.-SignIn-forgotpswd-2XXTxx-:hover {
  text-decoration: underline;
}

.-SignIn-signin-_S1wm2- {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 2em;
  border-radius: 7px;
  cursor: pointer;
  color: var(--coal);
  background-color: var(--green);
  border: 3px solid var(--pea);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 0 0 15px;
  transition: all 0.2s;
}
.-SignIn-signin-_S1wm2-:hover {
  box-shadow: var(--glow);
}
.-SignIn-signin-_S1wm2-:focus {
  outline: none;
}

.-SignIn-orsignup-h99X-f- {
  text-align: center;
  display: block;
  width: 100%;
  margin: 15px 0 5px 0;
  font-size: 1.5em;
  color: var(--coal);
}
.-SignIn-signmeup-KVBKvG- {
  text-decoration: none;
  font-size: 1em;
  color: var(--blue);
  padding: 5px 0;
  margin-left: auto;  
}
.-SignIn-signmeup-KVBKvG-:hover {
  text-decoration: underline;
}
.-SignIn-container-1cU965- p.-SignIn-error-3Xcw09- {
  display: block;
  text-align: left;
  font-size: 1.5em;
  color: #f00;
  font-weight: 800;
}

.-ForgotPassword-container-yCess6- {
  display: block;
  width: 100%;
  max-width: calc(var(--wrapper) / 2);
  padding: 15px;
  margin: auto;
  background: var(--iron);
}
.-ForgotPassword-container-yCess6- h1 {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  padding: 0 15px 5px 15px;
  color: var(--coal);    
}
.-ForgotPassword-container-yCess6- p {
  display: block;
  text-align: center;
  padding: 0;
  font-size: 2em;
  margin-bottom: 15px;
}
.-ForgotPassword-container-yCess6- p.-ForgotPassword-error-3Gbamd- {
  display: block;
  text-align: left;
  font-size: 1.5em;
  color: #f00;
  font-weight: 800;
}
.-ForgotPassword-actions-3aqdLc- {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.-ForgotPassword-resetpswd-1eZncT- {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 2em;
  border-radius: 7px;
  cursor: pointer;
  color: var(--coal);
  background-color: var(--green);
  border: 3px solid var(--pea);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 0 0 auto;
  transition: all 0.2s;
}
.-ForgotPassword-resetpswd-1eZncT-:hover {
  box-shadow: var(--glow);
}
.-ForgotPassword-resetpswd-1eZncT-:focus {
  outline: none;
}.-App-flex-A-IeVD- {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.-App-footer-3bBXH-- {
  padding: 15px;
  background-color: var(--silver);
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}
.-App-me-2BnWE7- {
  text-decoration: none;
  color: #fff;
}
.-App-me-2BnWE7-:hover {
  color: var(--iron);
}/* CSS APP WIDE VARIABLES */
:root {
  --coal:    #222628;
  --silver:  #6d6065;
  --iron:    #d8dcde;
  --green:   #bdc33f;
  --pea:     #778614;
  --blue:    #3a5369;
  --font:    "hypatia-sans-pro", sans-serif;
  --wrapper: 1200px;
  --glow: 0 5px 15px rgba(145, 92, 182, .4);
}

/* -------------------- CSS RESET -------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------- BEYOND THE RESET -------------------- */
html {
  height: 100%;
}
body {
  background: #f9f9f9;
  font-family: var(--font);
  font-size: 62.5%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
hr {
  margin: 15px 0;
}
/*# sourceMappingURL=app.css.map*/