.-Header-container-qQ2mF7- {
  background-color: var(--iron);
}
.-Header-wrapper-3AwTGb- {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.-Header-logo-2jKwzD- {
  width: 200px;
  height: auto;
}
.-Header-nav-3pohg4- {
  margin-left: auto;
}.-Navigation-container-1QYlzS- {
  margin-left: auto;
}
.-Navigation-container-1QYlzS- li {
  display: inline-block;
  margin-left: 20px;
}
.-Navigation-link-Ntl35P- {
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--blue);
  cursor: pointer;
  padding: 8px;
  position: relative;
  display: inline-block;
  margin-left: 15px;
}
.-Navigation-link-Ntl35P-::before {
  content: "";
  position: absolute;
  width: calc(100% - 16px);
  max-width: 0;
  height: 2px;
  left: 8px;
  bottom: 0;
  background-color: var(--blue);
  transition: all 0.3s;
}
.-Navigation-link-Ntl35P-:hover::before,
.-Navigation-active-3hAr4X-::before {
  max-width: 100%;
}
.-LandingPage-container-2z-Roy- {
  display: block;
  width: 100%;
  max-width: var(--wrapper);
  padding: 15px;
  margin: auto;
}
.-LandingPage-landingImg-1j5NYW- {
  max-width: 100%;
  margin-bottom: 25px;
}
.-LandingPage-snippet-1X12ji- {
  font-size: 2.5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2em;
  color: var(--coal);
}
.-LandingPage-signup-34YAWs- {
  padding: 15px;
  text-decoration: none;
  font-size: 2.5em;
  border-radius: 12px;
  width: 200px;
  cursor: pointer;
  color: var(--coal);
  background-color: var(--green);
  border: 3px solid var(--pea);
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  text-align: center;
  position: relative;
  margin: 15px auto 0 auto;
  transition: all 0.2s;
}
.-LandingPage-signup-34YAWs-:hover{
  box-shadow: 0 8px 6px -6px black;
  transform: translateY(-3px);
}
.-LandingPage-signup-34YAWs-:active{
  transform: translateY(0);
  box-shadow: none;
  transition: none;
}.-SignUp-container-1uHW05- {
  display: block;
  width: 100%;
  max-width: calc(var(--wrapper) / 2);
  padding: 15px;
  margin: auto;
  background: var(--iron);
}
.-SignUp-container-1uHW05- h1 {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  padding: 0 15px;
  color: var(--coal);
}
.-SignUp-container-1uHW05- p {
  display: block;
  text-align: center;
  padding: 0;
  font-size: 2em;
  margin-bottom: 15px;
}
.-SignUp-label-1PzkMK- {
  display: block;
  font-weight: 800;
  font-size: 2em;
  padding: 0;
  margin-bottom: 5px;
}
.-SignUp-input-EG-xPr- {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 2em;
  margin-bottom: 10px;
  border: 3px solid #fff;
}
.-SignUp-input-EG-xPr-:focus {
  outline: none;
  border-color: var(--blue);
}
.-SignUp-container-1uHW05- p.-SignUp-error-1LxJFX- {
  display: block;
  text-align: left;
  font-size: 1.5em;
  color: #f00;
  font-weight: 800;
}
.-SignUp-actions-OJuSW1- {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.-SignUp-signup-5ne7WC- {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 2em;
  border-radius: 7px;
  cursor: pointer;
  color: var(--coal);
  background-color: var(--green);
  border: 3px solid var(--pea);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 5px 0 0 auto;
  transition: all 0.2s;
}
.-SignUp-signup-5ne7WC-:hover{
  box-shadow: 0 8px 6px -6px black;
  transform: translateY(-3px);
}
.-SignUp-signup-5ne7WC-:active{
  transform: translateY(0);
  box-shadow: none;
  transition: none;
}
.-SignUp-signup-5ne7WC-:focus{
  outline: none;
}
.-MyBudget-container-25emxy- {
  display: block;
  margin: auto;
}
.-MyBudget-container-25emxy- h1{
  font-size: 3em;
  font-weight: 800;
}.-App-flex-A-IeVD- {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.-App-footer-3bBXH-- {
  padding: 15px;
  background-color: var(--silver);
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}
.-App-me-2BnWE7- {
  text-decoration: none;
  color: #fff;
}
.-App-me-2BnWE7-:hover {
  color: var(--iron);
}/* CSS APP WIDE VARIABLES */
:root {
  --coal:    #222628;
  --silver:  #6d6065;
  --iron:    #d8dcde;
  --green:   #bdc33f;
  --pea:     #778614;
  --blue:    #3a5369;
  --font:    "hypatia-sans-pro", sans-serif;
  --wrapper: 1000px;
}

/* -------------------- CSS RESET -------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------- BEYOND THE RESET -------------------- */
html {
  height: 100%;
}
body {
  background: #f9f9f9;
  font-family: var(--font);
  font-size: 62.5%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
/*# sourceMappingURL=app.css.map*/